/**
 * Make our default look not suck
 */
body {
  font-family: sans-serif;
  color: #141414;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

p {
  line-height: 2.0em;
}

ul > li > a,
ul > li > a:visited {
  color: #141414;
}

header {
  display: block;
}

section {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0 none;
}

fieldset.vertical label {
  display: block;
  margin-bottom: 5px;
}

footer {
  clear: both;
  height: 60px;
  background-color: #2F2935;
  color: white;
  margin-top: 250px;
}

blockquote {
  padding: 50px 5px;
  margin: 0px;
}

blockquote h1 {
  font-family : oblique;
  font-style: italic;
  font-size: 5em;
  margin-top: 0px;
  margin-bottom:0px;
  font-weight: 100;
}

table.table {
  border-collapse: collapse;
  width: 100%;

}

table.table tbody > tr > td,
table.table thead > tr > th {
  padding: 5px 8px;
}

table.table thead > tr > th {
  background-color: #eee;
}


/**
 * Special blockquotes
 */

section.inverse {
  background-color: #2F2935;
  color: white;
}

/**
 * Custom footer stuff
 */
.page-footer ul {
  font-size: 0;
  list-style: none;
}

.page-footer ul > li {
  font-size: 12px;
  color: white;
  font-weight: 100;
  padding: 20px 0;
}

.page-footer ul > li > a {
  text-decoration: none;
  color: white;
}

/**
 * Footer navigation
 */
ul.nav-right {
  padding-right: 0;
}

ul.nav-left {
  padding-left: 0;
}
/**
 * Main navigation styles
 * I wish I was using LESS, that's all I have to say about that...
 */
nav.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 10px;
  font-size: 0px; /* collapse */
  background-color: rgba(100,100,100,0.0);
  transition: 0.4s all;
  height: 80px;
}

body.scroll nav.main {
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
  background-color: rgba(250,250,250,1.0);
  height: 60px;
}

nav.main ul {
  margin: 0;
  padding: 0;
}

nav.main ul > li {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

nav.main ul > li > a {
  display: block;
  color: #141414;
  padding: 22px 20px;
  text-decoration: none;
  transition: 0.4s background-color;
}

body.scroll nav.main ul > li > a {
}

nav.main ul > li > a:hover,
nav.main ul >li.active a {
  background-color: #00aeef;
  color: #fafafa;
}

/**
 * Page header image stuff
 */

header.page-header div.header-image {
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

header.page-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 570px;
  z-index: -1;
}

header.page-header h1,
header.page-header h2,
header.page-header h3,
header.page-header p {
  color: white;
  font-weight: 100;
}

.subtitle {
  color: #00aeef;
}

header.page-header > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

header.page-header h1 {
  margin-top: 175px;
  font-size: 4em;
  margin-bottom: 10px;
}


div.header-image {
  background-image : url(/img/index-bg.jpg);
}

/**
 * Root aside overlay stuff
 */

#aside-overlay {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.0); 
  overflow: hidden;
  transition: 0.4s all;
  pointer-events: none;
}

#aside-overlay aside {
  position: absolute;
  right: -410px;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #eee;
  transition: 0.4s right;
  pointer-events: all;
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
  color: #141414;
  padding: 30px 50px;
}

#aside-overlay.show-aside {
  background-color: rgba(0,0,0,0.6);
  pointer-events: all;
  cursor: pointer;
}

#aside-overlay.show-aside aside {
  right: 0;
  cursor: default;
}

/**
 * The actual launcher button
 */
#aside-launch {
  padding: 15px 20px 20px 20px;
  font-size: 1.4em;
}
/**
 * Aside misc
 */
#profile-pic {
  width: 200px;
  border-radius: 250px;
  border: 5px solid #141414;
}

#personal-info {
  font-weight: 100;
  font-size: 14px;
  margin-left: -20px;
  line-height: 1.4em;
}

/**
 * Other fun aside stuff
 */


/**
 * Show/hide helpers
 */
.hide {
  display: none;
}

/**
 * Some container styles to make everything easy
 */
.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 25px;
  clear: both;
  overflow: hidden;
}

section.container {
  margin-top: 50px;
}

.container-fluid {
  width: 100%;
  margin: auto;
}

/**
 * Alignment helpers
 */
.pull-left {
  float : left;
  clear : left;
}

.pull-right {
  float : right;
  clear : right;
}

/**
 * Typography align
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/**
 * This might be a bad idea, but let's set some "sane" defaults for lists
 */
.text-right ul {
  list-style-position: inside;
}

/**
 * Additional typography helpers
 */
.text-uppercase {
  text-transform: uppercase;
}


.lead {
  font-weight: 100;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/**
 * Shadows
 */
.text-shadow {
  text-shadow: 0 0 4px rgba(0,0,0,0.65);
}

.drop-shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
}

/**
 * Button styles
 */
a.btn {
  text-decoration: none;
  color: #141414;
}

.close {
  margin-top: -20px;
  margin-left: -20px;
}

/**
 * Really simple, non-responsive grid classes
 */
.col-20 {
  display: inline-block;
  width: 20%;
}

.col-25 {
  display: inline-block;
  width: 25%;
}
.col-33 {
  display: inline-block;
  width: 32.333%;
}

.col-66 {
  display: inline-block;
  width: 66.666%;
}

/**
 * Some extras
 */
.blurb ul > li {
  line-height: 1.5em;
}

/**
 * Image classes
 */
img.card {
  width: 100%;
  border: 1px solid #414141;  
  box-sizing: border-box;
}

/**
  * Additional spacing tools
  */
.spacing {
  margin-top: 100px;
}